.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #333;
  font-weight: 600;
}

.description {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}


.postsList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}


.postsList > * {
  width: 100%;
}